.show-page-container {
  display: flex;
  flex-direction: column;
  padding-left: 10%;
  padding-right: 10%;
  min-width: 600px;
  max-width: 2000px;
  gap: 50px;


}

.listing-show-title {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 30px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.listing-show-location {
  margin-bottom: 10px;
}

.photo-container {
  display: flex;
  gap: 0.5rem;
  aspect-ratio: 3/1;

}

.photo-box1 {
  width: 50%;
  height: 100%;
  display: flex;
  overflow: hidden;
}

.photo-box2, .photo-box3 {
  width: 25%;
  height: 98%;
  display: flex;
  flex-direction: column; 
  gap: 2%
}

.photo-box1 img {
  width: 100%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;

}

.photo-box2 img, .photo-box3 img {
  width: 100%;
  height: 50%; 
  display: flex;
}

#p4 {
  border-top-right-radius: 15px;
}

#p5 {
  border-bottom-right-radius: 15px;
}

.bottom-container {
  display: flex;
  flex-direction: column;
}

.show-host {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  margin-top: 30px;
}

.show-details {
  border-bottom: 1px solid lightgray
}


.show-description {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width:700px;
  border-bottom: 1px solid lightgray;
  padding-top: 10px;
  padding-bottom: 20px;
}



.reviews-container {
  display: flex;
  flex-direction: column;
}


