
.show-page-container {
  display: flex;
  flex-direction: column;
  padding-left: 10%;
  padding-right: 10%;
  /* min-width: 600px; */
  max-width: 1500px;
  gap: 2em;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5%;

}

.listing-show-title {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 30px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.listing-show-location {
  margin-bottom: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.photo-container {
  display: flex;
  gap: 0.5rem;
  aspect-ratio: 3/1;

}

.photo-box1 {
  width: 50%;
  height: 100%;
  display: flex;
  overflow: hidden;
}

.photo-box2, .photo-box3 {
  width: 25%;
  height: 98%;
  display: flex;
  flex-direction: column; 
  gap: 2%
}

.photo-box1 img {
  width: 100%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;

}

.photo-box2 img, .photo-box3 img {
  width: 100%;
  height: 50%; 
  display: flex;
}

#p4 {
  border-top-right-radius: 15px;
}

#p5 {
  border-bottom-right-radius: 15px;
}

.show-map-container {
  display: flex;
  flex-direction: column;
}

.show-host {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  margin-top: 30px;
}

.show-details {
  border-bottom: 1px solid lightgray;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 250;
  font-size: 0.9em;
  padding-bottom: 1em;
}


.show-description {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-bottom: 1px solid lightgray;
  padding-top: 10px;
  padding-bottom: 20px;
  font-weight: 300;
}

.main-content-container {
  display: flex;
  border-bottom: 1px solid lightgray;
  
}

.left-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.reservation-form-container {
  position: relative;
  /* border: 1px solid #ccc; */
  max-width: 375px;
  box-sizing: border-box;
  padding-left: 20px;


}


.reviews-container {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid lightgray;
  padding-bottom: 30px;
}

.show-highlights {
  border-bottom: 1px solid lightgray;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding-bottom: 1em;
}

.show-checkin {
  display: flex;
  gap: 2em
}

.show-checkin-text {
  padding-top: 6px;
}


.show-superhost {
  display: flex;
  gap: 2em
}

.show-superhost-text {
  padding-top: 6px;
}


.show-cancellation {
  display: flex;
  gap: 2em;
}

.show-cancellation-text {
  padding-top: 6px;
}

.show-checkin-text-details, .show-superhost-text-details {
  font-weight: 200;
  font-size: 0.85em;
}



.show-checkin-text, .show-superhost-text {
  display: flex;
  flex-direction: column;
  gap: 0.2em
}

.show-amenities {
  border-bottom: 1px solid lightgray;
  padding-bottom: 1em;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.amenities-header {
  font-size: 1.4em;
  font-weight: 450;
}

.amenities-wifi, .amenities-kitchen, .amenities-workspace {
  display: flex;
}

.wifi-text, .kitchen-text, .space-text {
  padding-top: 10px;
}

.standalone-calendar {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.show-date-description {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.3em;
  font-weight: 400;
}

.show-map-container {
  /* height: 500px;
  width: 100%; */
  border-bottom: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding-bottom: 2em;

}

.map-text {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.3em;
  font-weight: 500;

}

.showpage-map {
  height: 500px;
  width: 100%;
}

