.review-summary-container{
  display: flex;
  flex-direction: column;

}

.review-summary-header {
  display: flex;
  margin-bottom: 30px;
  margin-top: 20px;
  align-items: center;
  gap: 8px;
  font-weight: bold
}

.review-summary-content {
  display: flex;

}

.review-summary-rating {
  font-size: 30px;
}

.review-summary-numReviews {
  font-size: 30px;
}


.rating-bars {
    width: 15%;
    margin-bottom: 20px;
    padding-right: 10px;
    border-right: 1px solid lightgray;
}


.rating-bar {
    display: flex; 
    align-items: center; 
    margin-bottom: 1px; 
}

.rating-text {
  margin-bottom: 10px;
}

.rating-number {
    margin-right: 10px; 
    font-size: 14px; 
    font-weight: bold;
}

.rating-fill-background {
    width: 150px;
    height: 5px;
    background-color: lightgrey;
    position: relative;
    border-radius: 10px;
}

.rating-fill {
    height: 5px;
    background-color: black;  /* Change to desired color */
    position: absolute;
    top: 0;
    left: 0;
}

.review-categories > div {
  border-right: 1px solid lightgray;
  /* padding-right: 15px; */
  /* margin-right: 5px; */
}

.review-categories > div:last-child {
  border-right: none;
}

.review-categories > div:first-child {
  padding-left: 20px;
}


.review-categories {
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin-bottom: 20px;
  font-size: 18px;
  flex: 1 0 15%


}

.review-category {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 15%;

  min-width: 100px;
  max-width: 200px;
  
}