.review-summary-container{
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid lightgray


}

.review-summary-header {
  display: flex;
  margin-bottom: 30px;
  margin-top: 20px;
  align-items: center;
  gap: 8px;
  font-weight: bold
}

.review-summary-content {
  display: flex;
  gap: 20px;

}

.review-summary-rating {
  font-size: 30px;
}

.review-summary-numReviews {
  font-size: 30px;
}


.rating-bars {
    margin-bottom: 20px;
    padding-right: 10px;
    border-right: 1px solid lightgray;
    flex: 0 1 150px;
    min-width: 125px;
    max-width: 500px;
}


.rating-bar {
    display: flex; 
    align-items: center; 
    margin-bottom: 1px; 
}

.rating-text {
  margin-bottom: 10px;
}

.rating-number {
    margin-right: 10px; 
    font-size: 14px; 
    font-weight: bold;
}

.rating-fill-background {
    width: 100%;
    height: 5px;
    background-color: lightgrey;
    position: relative;
    border-radius: 10px;
}

.rating-fill {
    height: 5px;
    background-color: black; 
    position: absolute;
    top: 0;
    left: 0;
}

.review-categories > div {
  border-right: 1px solid lightgray;
  padding-left: 10px;
  margin-right: 5px;
}

.review-categories > div:last-child {
  border-right: none;
}



.review-categories {
  display: flex;
  flex: 1 0 300px;
  margin-bottom: 20px;
  font-size: 1.2rem;
  flex-wrap: wrap;

}

.review-category {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  flex-wrap: wrap;
  font-size: 1.1em;
  flex: 1 0 auto

  
}

.no-reviews {
  font-size: 25px;
}

