.review-summary-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review-summary-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.rating-bars {
    width: 100%;
    margin-bottom: 20px;
}

.rating-bar {
    display: flex; 
    align-items: center; 
    margin-bottom: 5px; 
}

.rating-number {
    margin-right: 10px; 
    font-size: 14px; 
    font-weight: bold;
}

.rating-fill-background {
    width: 200px;
    height: 10px;
    background-color: lightgrey;
    position: relative;
}

.rating-fill {
    height: 10px;
    background-color: black;  /* Change to desired color */
    position: absolute;
    top: 0;
    left: 0;
}


.categories {
  display: flex;
  justify-content: space-between;
  width: 100%;
}