.rdrDefinedRangesWrapper {
  display: none;
}
.reservation-form-wrapper {
  border: 1px solid #ccc;
  padding: 30px;
  margin-right: 160px;
  border-radius: 20px;
  position: sticky;
  top: 20px;
  z-index: 999;
  background-color: white;
}
/* .guest-input {
  width: 50px;
} */

/* .reservation-button {
  background-color: palevioletred;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-left: 10px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid gainsboro;
  
} */

.book-button {
  background-color: red;
}

.date-error {
  background-color: red;
}

.DateInput.DateInput_1 {
  border-right: 23px solid #dce0e0
}