.reservation-form-wrapper {
  border: 2px solid #ccc;
  width: 100%;
  border-radius: 20px;
  position: sticky;
  z-index: 999;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  top: 0px;
}

.reservation-selections {
  display: flex;
  flex-direction: column;
  margin: 20px;
  border: 2px solid #ddd; 
  border-radius: 7px;
}

.end-date {
  border-left: 1px solid #ccc;
}

.date-inputs {
  margin-bottom: 2px;
  border-bottom: 1px solid #ccc;
  display: flex;
}

.date-input {
  flex: 1;
  padding: 8px;
  border: none;
}

/* .date-inputs > :nth-child(2) {
 background-color: red;
} */

.date-input:focus {
  outline: 2px solid black;
}

.guests-dropdown {
  padding: 8px; /* Adjust as needed */
  border: none;
  appearance: none;
}

.guests-dropdown:focus {
  outline: 2px solid black;
}

.book-button {
  background-color: rgb(241, 91, 96);
}

