.reservation-form-wrapper {
  border: 1px solid #ccc;
  /* width: 100%; */
  border-radius: 20px;
  position: sticky;
  z-index: 500;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);
  top: 0px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 1em;
}


.reservation-selections {
  display: flex;
  flex-direction: column;
  border: 2px solid #ddd; 
  border-radius: 7px;
}

.form-start-date {
  width: 50%;
  display: flex;
}
.form-end-date {
  border-left: 1px solid #ccc;
  width: 50%;
  display: flex;
  box-sizing: border-box;

}


.reservation-date-inputs {
  margin-bottom: 2px;
  border-bottom: 1px solid #ccc;
  display: flex;
  gap:2px;
  width: 100%;
} 



.date-input {
  padding: 8px;
  border: none;
  width: 92%;
}

/* .date-inputs > :nth-child(2) {
 background-color: red;
} */

.date-input:focus {
  outline: 2px solid black;
}

.guests-dropdown {
  padding: 8px; 
  border: none;

}

.guests-dropdown:focus {
  outline: 2px solid black;
  border-radius: 8px;
  
}

.book-button {
  background-color: rgb(227, 29, 80);
  display: flex;
  justify-content: center;
  color: white;
  padding: 1em;
  border-radius: 5px;
}

.charge-text {
  display: flex;
  justify-content: center;
}

.cost-breakdown {
  display: flex;
  flex-direction: column;
  gap: 0.5em
}

.nights-fee {
  display: flex;
  justify-content: space-between;
}

.cleaning-fee {
  display: flex;
  justify-content: space-between;
}

.service-fee {
  display: flex;
  justify-content: space-between;
}

.reservation-total {
  display: flex;
  justify-content: space-between;
}

