.reviews-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 20px;
  margin-bottom: 20px;

}

.individual-review {
  flex: 1 0 48%;
  font-size: 1em;
  position: relative;
}

.reviewer-name {
  font-weight: bold;
}

.review-date {
  font-size: 0.7em;
  font-weight: lighter;
}

.review-buttons {
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  margin-left: 5px;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  opacity: 0.7;
  transition: opacity 0.3s ease;

}

.review-update {
  background-color: darkgray;
  color: white;
  border-radius: 3px;
}

.review-delete {
  background-color: lightcoral;
  color: white;
  border-radius: 75%;  /* Makes the button round */
  width: 20px;
  height: 20px;
  text-align: center;
}

.review-buttons:hover {
  opacity: 1;
}

.review-content {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 100;
  font-size: 0.8em;
}