.index-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 65px;
  margin-right:100px
}

.listing-container {
  width: 20%;
  display: flex;
  flex-direction: column;
  margin: 20px
}

.listing-photo {
  height: 300px;
  width: 300px;
  border-radius: 10px;
}

.listing-link {
  text-decoration: none;
  color: black;
}