.navbar-other {
  display: flex;
  justify-content: space-between;
  padding-left: 10%;
  padding-right: 10%;
  /* max-width: 1500px;  was not able to add this due to the border bottom*/
  margin-left: auto;
  margin-right: auto;
  position: relative;
  box-sizing: border-box;
  border-bottom: 1px solid gainsboro;

}


.navbar-home {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 100; 
  padding-left: 7%;
  padding-right: 7%;
  border-bottom: 1px solid gainsboro;
  background-color: white;
 
}

.logo {
  width: 120px;
  height: 120px;
}




.fa-brands {
  font-size: 2em;
 

}

.search-bar {
  display: flex;
  align-items: center;
}

.lin-git-profile {
  display: flex;
  align-items: center;
  gap: 0.5em;

}

.lin{
  color: blue;
}

.git {
  color: black;
}


