.nav-bar {
  display: flex;
  justify-content: space-between;
  margin: 5px;
  border-bottom: 1px solid gainsboro;
  /* background-image: url("snowmnt.jpeg"); */
}

.logo {
  width: 120px;
  height: 120px;
  margin-left: 50px;
}

.login {
  height: 80px;
  display: flex;
  justify-content: flex-start;
}

.nav-button {

}
.nav-button:hover {
  background-color: aquamarine;
}

.profile-dropdown {
  /* border: 1px solid black; */
  position: relative;
  top: 25px;
  right: 10px;
}

.profile-button {
  border: 5px solid black;
  position: relative;
  margin-top: 50px;
  /* right: 0; */
} 


