.login-form {
  display: flex;
  flex-direction: column;
  
  /* width: 100vh; */
}

.email-input {
  /* margin: 100px; */
  background-color: aqua;
}

.password-input {
  background-color: blueviolet;

}