.login-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 500px;
  width: 50vh;
}

.email-input {
  /* margin: 100px; */
  background-color: aqua;
}

.password-input {
  background-color: blueviolet;

}

.loginform-buttons {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}